
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    
    
}

body{
    color: black;
     background-color: #ffffff;
}

.header-index{
    background: linear-gradient(45deg, #00efbb, #ADEBB3);
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color:  rgb(39, 0, 169);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-index{
    background: linear-gradient(90deg, #6262b9, #D3D3FF, #D3D3FF, #bdbdff,  #4e4ea5);
    padding: 15px;
    margin-top: 20px;
    
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}


.nav-list li{
    margin-top: auto;
    margin-bottom: auto;
}
.nav-list li a{
    color: black;
    font-size: 23px;
    /* background-color: red; */
    display: block;
    padding: 5px;
    
}

#inicio-logo{
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    
}

#name-banner-principal{
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.main-container{
    text-align: justify;
    margin: 20px;
   
}

.footer-index{
    background: linear-gradient(rgb(120, 230, 200), rgb(120, 190, 230), rgb(240, 179, 255));
    padding: 20px;
    display: block;
}


.footer-index ul li{
    list-style: none;
    font-size: 25px;
    color:rgb(18, 19, 95);
    /* background-color: pink; */
    display: block;
    
    
}

.footer-index ul li ul li{
    font-size: 18px;
}

.footer-index ul li a, .footer-form{
    color: black;
    margin-left: 10px;
}

/* tarjetas del main (index) productos */

.contenedor-productos{
    display: flex;
    /* background-color: red; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}
.card-collares, .card-aretes, .card-anillos, .card-pulseras{
    /* background-image: url("./../images/sitioJoyeria/card_collares.jpg"); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    aspect-ratio: 1/1; /*lo investigué aparte porque me daba ansiedad que no fuera perfectamente cuadrado jajaja, y 
    aunque todavía no entramos en diseño responsive, me es inevitable, sorry, me da cosita que al minimizar 
    la pantalla se desacomode jajaj */
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
    
}

.card-anillos:hover, .card-aretes:hover, .card-pulseras:hover, .card-collares:hover{
    transform: scale(1.1);
    transition: .3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.card-parrafo{
    background-color:  #adebb3da;
    display: block;
    height: auto;
    padding: 15px 8px;
}

.parrafo-title{
    font-size: 20px;
    font-weight: 600;
    color: #1f8049;
    border-bottom: 2px solid #1f8049;
    padding: 0 5%;
}

.parrafo-ver_mas{
    color: #1f8049;
}

.parrafo-ver_mas:hover{
    cursor: pointer;
    color:#134629;
    transform: scale(1.5);
    transition: .5s;
}
/* fin tarjetas del main  */

/* index presentación */

.presentation-1{
    /* background-color: aquamarine; */
    display: flex;
    padding: 50px;
}

.presentation-1 img{
    margin-left: 30px;
}
.presentation-1 p, .presentation-2 p{
    font-size: 2rem;
    text-align: justify;
    line-height: 3rem;
    
}

.presentation-2{
    padding: 50px;
}
.presentation-2 p{
    display: inline-block;
}



/* fin index presentación */

/* más vendidos */

.contenedor-vendidos{
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0;
}

.card-mas_vendidos{
    width: 15%;
    display: flex;
    /* background-color: #9090c9; */
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    position: relative;
}

.card-mas_vendidos img{
    width: 100%;
    border-radius: 5px;
}

.card-mas_vendidos:hover{
    transform: scale(1.1);
}
.card-titulo-articulo{
    font-size: 18px;
}

.card-precio{
    font-size: 25px;
}

.card-puntuacion, .card-est-ventas, .card-similares{
    font-size: 12px;
}

.card-puntuacion{
    color:#001367;
}

.card-est-ventas{
    color: rgb(127, 127, 127)
}

.card-similares{
    color: #002fff;
}
.card-similares:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card-similares:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card-descripcion{
    cursor: pointer;
}

.btn-comprar, .btn-anadir-carrito, .btn-lista-deseos{
    font-size: 13px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    width: 100%;
    margin: 5px 0;
}

.btn-comprar{
    background-color: #D3D3FF;
    color: #1b1b3e;
}

.btn-anadir-carrito{
    background-color: #1b1b3e;
    color: #D3D3FF;
}

.btn-lista-deseos{
    font-size: 25px;
    width: auto;
    padding: 0;
    background-color: transparent;
    color: white;
    align-self: flex-end;
    color: #6262b9;
}

.card-award{
    color: red;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    position: absolute;
    font-size: 3.8vw;
    top: 7%;
    left: 0;

}

.btn-anadir-carrito:hover, .btn-comprar:hover, .btn-lista-deseos:hover{
    cursor: pointer;
    transition: 0.5s;
}
.btn-anadir-carrito:hover{
    background-color: #111127;
}

.btn-comprar:hover{
    background-color: #b0b0d1;
}

.btn-lista-deseos:hover{
    transform: scale(1.1);
}

/* fin más vendidos */

/* collabs  */


.contenedor-collabs{
    display: block;
    height: auto;
}
.card-collabs{
    width: 100%;
    background: 
    repeating-linear-gradient(
        190deg,
        rgba(69, 69, 255, 0.5) 40px,
        rgba(113, 113, 255, 0.5) 80px,
        rgba(158, 158, 255, 0.5) 120px,
        rgba(223, 223, 255, 0.5) 160px,
        rgba(0, 255, 153, 0.5) 200px,
        rgba(102, 255, 194, 0.5) 240px,
        rgba(199, 255, 232, 0.5) 280px,
        rgba(69, 69, 255, 0.5) 300px
        ),
        repeating-linear-gradient(
        -190deg,
        rgba(69, 69, 255, 0.5) 30px,
        rgba(113, 113, 255, 0.5) 60px,
        rgba(158, 158, 255, 0.5) 90px,
        rgba(223, 223, 255, 0.5) 120px,
        rgba(0, 255, 153, 0.5) 150px,
        rgba(102, 255, 194, 0.5) 180px,
        rgba(199, 255, 232, 0.5) 210px,
        rgba(69, 69, 255, 0.5) 230px
        ),
        repeating-linear-gradient(
        23deg,
        rgb(69, 69, 255) 50px,
        rgb(113, 113, 255) 100px,
        rgb(158, 158, 255) 150px,
        rgb(223, 223, 255) 200px,
        rgb(0, 255, 153) 250px,
        rgb(102, 255, 194) 300px,
        rgb(199, 255, 232) 350px,
        rgb(69, 69, 255) 370px
    );
    aspect-ratio: 1/0;
    padding: 20px;
    border-radius: 25px;
    display: flex;
}

.card-collabs img{
    width: 30%;
    border-radius: 50% 20% 70% / 10% 40%;
    box-shadow: -10px 15px 0 #D3D3FF;
}

.card-collabs div{
    margin: 0 1rem;
    padding: 0 30px 10px;
    /* background-color: greenyellow; */
    height: min-content;
}

.card-collabs div img{
    box-shadow: none;
    border-radius: 0;
    width: 9em;
}

.card-collabs div hr{
    width: 100%;
    border: 1px solid #134629;
    color: #134629
}

.card-collabs p{
    /* height: fit-content; */
    /* background-color: yellow; */
    font-size: 20px;
    text-shadow: 1px 1px 0px rgba(0, 47, 166, 0.5);
}

.card-collabs p span{
    font-size: 12px;
}
.a-ver_coleccion{
    display: inline-block;
    background-color: #ADEBB3;
    border: 1px solid #134629;
    box-shadow: 5px 5px 0 #134629;
    padding: 10px 20px;
    font-family: "WindSong", cursive;;
    font-size: 30px;
}

.a-ver_coleccion:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* .card-collabs a{
    background-color: pink;
} */
/* fin collabs */

/*Contenedor de estilos de joyería*/
.contenedor-estilos-tendencia{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    
}


.item-estilos-tendencia{
    display: flex;
    width: 30%;
    /* background-color: red; */
    padding: 10px 15px;
    position: relative;
}

.item-estilos-tendencia img{
    width: 90%;
    
}

.title-item-tendencias{
    display: block;
    position: absolute;
    /* background-color: yellow; */
    transform: rotate(-35deg);
    font-size: 3.7rem;
    font-family: "Comforter Brush", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/*fin contenedor de estilos de joyería*/

