/* 
Selector universal
*{
    padding: 0;
    margin: 0;
}

Selectores de etiqueta
body{
    background-color: aquamarine;
}

header{
    background-color: chartreuse;
    margin: 10px;
}

h2{
    color:blueviolet;
    font-size: 40px;   
    padding: 5px;
}

p{
    background-color: dodgerblue;
    width: 250px;
}

Selector de tipo clase. Empieza con un punto y le sigue el nombre de la clase
.barra{
    background-color: lightblue;
}

Selector de tipo id.
#menu{
    color:gold;
}
 */

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.producto-tarjeta{
    width: 280px;
    border-radius: 12px;
    background-color: chartreuse;
    text-align: center;
    display: inline-block;
}

.producto-img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.producto-titulo{
    font-size: 20px;
    font-weight: bold;
}

.producto-desc{
    font-size: 14px;
    color:deeppink
}

.producto-btn{
    background-color:paleturquoise;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.producto-btn:hover{
    background-color:cornflowerblue ;
    transition: 0.5s ;
}

/*Tarjetas del reto*/

.section-target{
    display: inline-block;
    
}
.target-class{
    display: inline-block;
    background-color: rgb(222, 157, 170);
    width: 20%;
    padding: 10px;
    margin: 10px;
    color:crimson;
    text-align: center;
    border-radius: 5px;
}

.img-target{
    width: 90%;
    margin: 5px;
}

.contact{
    background-color:lawngreen;
    color:darkgreen;
    text-align: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-size: 20px;

}

.contact:hover{
    transform: scale(1.1);
    transition: .3s ;
}

/*header para el position*/