*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif, arial;
}

body{
    background-color: white;
}

.navbar{
    padding: 0px 40px;
    background-color: red;
    font-weight: 600;
    font-size: 0.85rem;
}
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
    
}

.navbar ul li{
    
    
    background-color: blue;
    
}


.item-navbar img{
    width: 3rem;
}

.item-special-navbar{
    margin-left: auto;
    

}

.btn-navbar{
    display: inline-block;
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 100px;
}


#btn_unirseahora{
    background-color: black;
    color: white;

}



#navbar-rewards{
    border-bottom: 2px solid green;
    
}