
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    
    
}

body{
    color: black;

}

.header-index{
    background: linear-gradient(45deg, rgb(172, 220, 255), rgb(196, 215, 255), rgb(172, 172, 255),rgb(196, 215, 255), rgb(172, 220, 255));
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    
    color:  rgb(39, 0, 169);
}

.nav-index{
    background: linear-gradient(90deg, rgb(100, 146, 255), rgb(196, 215, 255), rgb(177, 201, 255), rgb(196, 215, 255),  rgb(100, 146, 255));
    padding: 15px;
    
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}


.nav-list li{
    margin-top: auto;
    margin-bottom: auto;
}
.nav-list li a{
    color: black;
    font-size: 23px;
    /* background-color: red; */
    display: block;
    padding: 5px;
    
}

#inicio-logo{
    font-family: "Fleur De Leah", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    
}

.main-container{
    background-color: rgb(212, 254, 255);
    text-align: justify;
}

.footer-index{
    background: linear-gradient(rgb(120, 230, 200), rgb(120, 190, 230), rgb(240, 179, 255));
    padding: 20px;
    display: block;
}


.footer-index ul li{
    list-style: none;
    font-size: 25px;
    color:rgb(18, 19, 95);
    /* background-color: pink; */
    display: block;
    
    
}

.footer-index ul li ul li{
    font-size: 18px;
}

.footer-index ul li a, .footer-form{
    color: black;
    margin-left: 10px;
}

/* tarjetas del main (index) */

.contenedor-productos{
    display: flex;
    background-color: red
}
.card-collares, .card-aretes, .card-anillos, .card-pulseras{
    /* background-image: url("./../images/sitioJoyeria/card_collares.jpg"); */
    display: flex;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
    aspect-ratio: 1/1; /*lo investigué aparte porque me daba ansiedad que no fuera perfectamente cuadrado jajaja, y 
    aunque todavía no entramos en diseño responsive, me es inevitable, sorry, me da cosita que al minimizar 
    la pantalla se desacomode jajaj */
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.card-parrafo{
    background-color: chartreuse;
    display: block;
    height: auto;
}
/* fin tarjetas del main  */

/* index presentación */

.presentation-1{
    /* background-color: aquamarine; */
    display: flex;
    padding: 50px;
}

.presentation-1 img{
    margin-left: 30px;
}
.presentation-1 p, .presentation-2 p{
    font-size: 2rem;
    text-align: justify;
    line-height: 3rem;
}

.presentation-2{
    padding: 50px;
}
.presentation-2 p{
    display: inline-block;
}



/* fin index presentación */