
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    
    
}

body{
    color: black;

}

.header-index{
    background: linear-gradient(45deg, rgb(172, 220, 255), rgb(196, 215, 255), rgb(172, 172, 255),rgb(196, 215, 255), rgb(172, 220, 255));
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color:  rgb(39, 0, 169);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-index{
    background: linear-gradient(90deg, rgb(100, 146, 255), rgb(196, 215, 255), rgb(177, 201, 255), rgb(196, 215, 255),  rgb(100, 146, 255));
    padding: 15px;
    margin-top: 20px;
    
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}


.nav-list li{
    margin-top: auto;
    margin-bottom: auto;
}
.nav-list li a{
    color: black;
    font-size: 23px;
    /* background-color: red; */
    display: block;
    padding: 5px;
    
}

#inicio-logo{
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    
}

#name-banner-principal{
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.main-container{
    text-align: justify;
}

.footer-index{
    background: linear-gradient(rgb(120, 230, 200), rgb(120, 190, 230), rgb(240, 179, 255));
    padding: 20px;
    display: block;
}


.footer-index ul li{
    list-style: none;
    font-size: 25px;
    color:rgb(18, 19, 95);
    /* background-color: pink; */
    display: block;
    
    
}

.footer-index ul li ul li{
    font-size: 18px;
}

.footer-index ul li a, .footer-form{
    color: black;
    margin-left: 10px;
}

/* tarjetas del main (index) productos */

.contenedor-productos{
    display: flex;
    background-color: red;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-collares, .card-aretes, .card-anillos, .card-pulseras{
    /* background-image: url("./../images/sitioJoyeria/card_collares.jpg"); */
    display: flex;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    aspect-ratio: 1/1; /*lo investigué aparte porque me daba ansiedad que no fuera perfectamente cuadrado jajaja, y 
    aunque todavía no entramos en diseño responsive, me es inevitable, sorry, me da cosita que al minimizar 
    la pantalla se desacomode jajaj */
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
    
}



.card-parrafo{
    background-color: chartreuse;
    display: block;
    height: auto;
}
/* fin tarjetas del main  */

/* index presentación */

.presentation-1{
    /* background-color: aquamarine; */
    display: flex;
    padding: 50px;
}

.presentation-1 img{
    margin-left: 30px;
}
.presentation-1 p, .presentation-2 p{
    font-size: 2rem;
    text-align: justify;
    line-height: 3rem;
    
}

.presentation-2{
    padding: 50px;
}
.presentation-2 p{
    display: inline-block;
}



/* fin index presentación */

/* más vendidos */

.contenedor-vendidos, .contenedor-collabs{
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-mas_vendidos{
    width: 15%;
    display: block;
}

/* fin más vendidos */

/* collabs  */
.card-collabs{
    width: 20%;
    display: block;
    background: linear-gradient( rgb(109, 109, 255), rgb(213, 128, 255), rgb(68, 255, 124));
    aspect-ratio: 1/1;
    padding: 20px;
    border-radius: 25px;
}

.card-collabs img{
    width: 100%;
    border-radius: 50%;
}
/* fin collabs */

/*Contenedor de estilos de joyería*/
.contenedor-estilos-tendencia{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    
}


.item-estilos-tendencia{
    display: flex;
    width: 30%;
    /* background-color: red; */
    padding: 10px 15px;
    position: relative;
}

.item-estilos-tendencia img{
    width: 90%;
    
}

.title-item-tendencias{
    display: block;
    position: absolute;
    /* background-color: yellow; */
    transform: rotate(-35deg);
    font-size: 3.7rem;
    font-family: "Comforter Brush", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/*fin contenedor de estilos de joyería*/