*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif, arial;
}

body{
    background-color: white;
    margin-top: 52px;
}

.navbar{
    padding: 0px 40px;
    background-color: red;
    font-weight: 600;
    font-size: 0.85rem;
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
    
}

.navbar ul li{
    
    
    background-color: blue;
    
}


.item-navbar img{
    width: 3rem;
}

.item-special-navbar{
    margin-left: auto;
    

}

.btn-navbar{
    display: inline-block;
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 100px;
}


#btn_unirseahora{
    background-color: black;
    color: white;

}

#btn_iniciarsesion{
    background-color: transparent;
   
}

#navbar-rewards{
    border-bottom: 2px solid green;
    
}

/*main container*/

.main-container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/*fin main container*/
/*Aside de starbucks*/
.aside{
    background: linear-gradient(60deg, #194031, #0B593C, #0D734D);
    width: 40%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.title-aside-mayus{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    
}

.title-aside-mayus2{
    letter-spacing: 10px;
    font-size: 30px;
}

.title-aside-minus{
    font-size: 34px;
    letter-spacing: 1px;
}

.area-buttons{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    width: 100%;
    justify-content: space-evenly;
}
/*fin aside de starbucks*/

/*section deslizable (main container right*/
.container-right{
    width: 60%;
    overflow-y: auto;
    /* background-color: purple; */
    color: rgb(42, 42, 42);
    
}

.title-container-right{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 25px;
}

.title-estrella{
    font-size: 20px;
}

.section-div-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: red; */
    margin: 40px 100px;

}
.section-div-1 div{
    width: 145px;
    padding: 0 10px;
}

.section-div-1 div img{
    width: 130px;
}

.section-div-1 div p{
    text-align: center;
}


        /*--------recompensas---------------*/

.recompensas{
    background-color: #F1F0EB;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 250px;


}

.recompensas div{
    width: 370px;
    
}

.recompensas div p{
    padding: 0 40px;
    text-align: center;
    font-weight: bold;
}

.recompensas div img{
    width: 365px;
}
        /*-------- fin recompensas---------------*/

        /*----------cómo obtener recompensas--------*/
.como-obtener-recompensas{
    display: flex;
    flex-direction: column;
    width: 700px;
    flex-wrap: wrap;
    /* background-color: blue; */
    padding: 5px 30px;
    margin: 0 auto;
}

.como-obtener-recompensas div{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: red; */
    width: max-content;
    padding: 10px;
    
}

/* .como-obtener-recompensas div img{
    width: 125px;
} */

.green-circle{
    width: 35px;
    height: 35px;
    background-color: #194031;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: auto;
}
        /*---------- fin de cómo obtener recompensas--------*/


        
        /*----------Ordena y paga--------*/
.ordena-y-paga{
    background-color: #EDEBE9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.ordena-y-paga div{
    width: 710px;
    /* background-color: yellow; */
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ordena-y-paga div div{
    font-weight: bold;
}

.ordena-y-paga div .container-star{
    width: 140px;
}

.ordena-y-paga div .container-metodos-p{
    width: 220px;
    padding: 5px;
}

.ordena-y-paga div .container-metodos-p img{
    margin-right: 25px;
}

.area-card-sbx{
    width: 520px;
    padding: 0 100px;
}


.area-card-sbx div{
    flex-direction: column;
    width: 220px;
}

.area-card-sbx div p{
    font-weight: normal;
}
        /*---------- fin de ordena y paga--------*/


.conoce-mas{
    background-color: #ECEBE5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.conoce-mas div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px auto;
    
}

.conoce-mas div div{
    flex-direction: column;
    
    width: 160px;
    /* background-color: red; */
}

.conoce-mas div div p a{
    color: #0B593C
}

.conoce-mas div div p a:hover{
    text-decoration: none;
}

.conoce-mas div div p a:visited{
    text-decoration: none;
}
/*fin del section deslizable*/