body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

/*desktop first*/

/* @media screen and (max-width: 1024px){
    body{
        background-color: aquamarine;
    }
} */

/*tablet*/

/* @media screen and (max-width: 768px){
    body{
        background-color: pink;
    }
} */

/*celular grande*/

/* @media screen and (max-width: 480px){
    body{
        background-color: yellowgreen;
    }
} */

/*mobile first*/

@media screen and (min-width: 480px){
    body{
        background-color: violet;
    }
}

@media screen and (min-width: 768px){
    body{
        background-color: rgb(215, 0, 22);
    }
}

@media screen and (min-width: 1024px){
    body{
        background-color: yellow;
    }
}

@media screen and (min-width: 1200px){
    body{
        background-color: green;
    }
}