
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    
    
}

body{
    color: black;
    background-color: #ffffff;
}

.header-index{
    background: linear-gradient(45deg, #00efbb, #ADEBB3);
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color:  rgb(39, 0, 169);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-index{
    background: linear-gradient(90deg, #6262b9, #D3D3FF, #D3D3FF, #bdbdff,  #4e4ea5);
    padding: 15px;
    margin-top: 20px;
    
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}


.nav-list li{
    margin-top: auto;
    margin-bottom: auto;
}
.nav-list li a{
    color: black;
    font-size: 23px;
    /* background-color: red; */
    display: block;
    padding: 5px;
    
}

#inicio-logo{
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    
}

#name-banner-principal{
    font-family: "WindSong", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
}

.main-container{
    text-align: justify;
    margin: 20px;
   
}

.footer-index{
    background: linear-gradient(rgb(120, 230, 200), rgb(120, 190, 230), rgb(240, 179, 255));
    padding: 20px;
    
}

.footer-index ul{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-index ul li{
    list-style: none;
    font-size: 25px;
    color:rgb(18, 19, 95);
    /* background-color: pink; */
    display: block;
    width: 35%;
    margin: 5px;
    
    
}

.footer-index ul li ul{
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.footer-index ul li ul li{
    font-size: 18px;
    /* background-color: blue; */
    width: 45%;
    padding: 8px;
    margin: 5px;
    
}

.footer-index ul li a{
    display: block;
}

.footer-index ul li a, .footer-form{
    color: black;
    margin-left: 10px;
    
    
}

.footer-index ul li ul li a:hover{
    transform: translateX(10px);
    font-weight: bold;
    transition: 0.8s;
}

.footer-form{
    /* background-color: red; */
    padding: 8px;
    border: 1px solid black;
    width: 200%;
}

.footer-form input[type="text"], .footer-form input[type = "email"], .footer-form textarea{
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 17px;
    border-radius: 5px;
    border: 1px #001367 solid;
    background: transparent;
    width: 100%;
    
}

.footer-form input::-webkit-input-placeholder, .footer-form textarea::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    
}

.footer-form-btn{
    padding: 5px 20px;
    font-size: 16;
    color: #f0f0ff;
    background-color: #242451;
    border-radius: 5px;
    border: 1px solid #001367;
}


/* tarjetas del main (index) productos */

.contenedor-productos{
    display: flex;
    /* background-color: red; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}
.card-tipo-produc{
    /* background-image: url("./../images/sitioJoyeria/card_collares.jpg"); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
    aspect-ratio: 1/1; /*lo investigu칠 aparte porque me daba ansiedad que no fuera perfectamente cuadrado jajaja, y 
    aunque todav칤a no entramos en dise침o responsive, me es inevitable, sorry, me da cosita que al minimizar 
    la pantalla se desacomode jajaj */
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
    
}

.card-tipo-produc:hover{
    transform: scale(1.1);
    transition: .3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.card-parrafo{
    background-color:  #adebb3da;
    display: block;
    height: auto;
    padding: 15px 8px;
}

.parrafo-title{
    font-size: 20px;
    font-weight: 600;
    color: #1f8049;
    border-bottom: 2px solid #1f8049;
    padding: 0 5%;
}

.parrafo-ver_mas{
    color: #1f8049;
}

.parrafo-ver_mas:hover{
    cursor: pointer;
    color:#134629;
    transform: scale(1.5);
    transition: .5s;
}
/* fin tarjetas del main  */

/* index presentaci칩n */

.presentation-1{
    /* background-color: aquamarine; */
    display: flex;
    padding: 50px;
}

.presentation-1 img{
    width: 30%;
    margin-left: 30px;
}
.presentation-1 p, .presentation-2 p{
    font-size: 2rem;
    text-align: justify;
    line-height: 3rem;
    
}

.presentation-2{
    padding: 50px;
}
.presentation-2 p{
    display: inline-block;
}



/* fin index presentaci칩n */

/* m치s vendidos */

.contenedores-con-productos{
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    padding: 50px 0;
    margin: 50px 0;
    width: 100%;

    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carrusel;
    scroll-snap-type: x mandatory;
}

.card-mas_vendidos, .card-ult_lanza{
    scroll-snap-align: start;

    flex: 1 0 14em;
    width: 15%;
    display: flex;
    /* background-color: #9090c9; */
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    position: relative;
    margin: 20px;
    overflow: hidden;
}

/*carrusel*/
.contenedores-con-productos::-webkit-scrollbar{
    display: none;
}

#carru1{
    anchor-name: --carrusel;
}

#carru2{
    anchor-name: --carrusel2;
}
 
#carru1::scroll-button(right), #carru1::scroll-button(left){
    position-anchor: --carrusel;
}

#carru2::scroll-button(right), #carru2::scroll-button(left){
    position-anchor: --carrusel2;
}

.contenedores-con-productos::scroll-button(right), .contenedores-con-productos::scroll-button(left){
    content: "游목";
    background-color: #ADEBB3;
    border: none;
    border-radius: 50%;
    padding: 5px;
    width: 60px;
    height: 60px;
    font-size: 2em;
    box-shadow: 1px 1px 5px rgba(9, 53, 15, 0.3);
    cursor: pointer;
    position: fixed;
    
    position-area: right center;
    translate: -100%;
}


.contenedores-con-productos::scroll-button(left){
    content: "游";
    position-area: left center;
    translate: 100%;
}

.contenedores-con-productos::scroll-button(*):disabled{
    opacity: 0.5;
    cursor: auto;
}

.card-mas_vendidos img, .card-ult_lanza img{
    width: 100%;
    border-radius: 5px;
}

.card-mas_vendidos:hover, .card-ult_lanza:hover{
    transform: scale(1.1);
}
.card-titulo-articulo{
    font-size: 18px;
}

.card-precio{
    font-size: 25px;
}

.card-puntuacion, .card-est-ventas, .card-similares{
    font-size: 12px;
}

.card-puntuacion{
    color:#001367;
}

.card-est-ventas{
    color: rgb(127, 127, 127)
}

.card-similares{
    color: #002fff;
}
.card-similares:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card-similares:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card-descripcion{
    cursor: pointer;
}

.btn-comprar, .btn-anadir-carrito, .btn-lista-deseos{
    font-size: 13px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    width: 100%;
    margin: 5px 0;
}

.btn-comprar{
    background-color: #D3D3FF;
    color: #1b1b3e;
}

.btn-anadir-carrito{
    background-color: #1b1b3e;
    color: #D3D3FF;
}

.btn-lista-deseos{
    font-size: 25px;
    width: auto;
    padding: 0;
    background-color: transparent;
    color: white;
    align-self: flex-end;
    color: #6262b9;
}

.card-award{
    color: red;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    position: absolute;
    font-size: 3.8vw;
    top: 7%;
    left: 0;

}

.btn-anadir-carrito:hover, .btn-comprar:hover, .btn-lista-deseos:hover{
    cursor: pointer;
    transition: 0.5s;
}
.btn-anadir-carrito:hover{
    background-color: #111127;
}

.btn-comprar:hover{
    background-color: #b0b0d1;
}

.btn-lista-deseos:hover{
    transform: scale(1.1);
}

/* fin m치s vendidos */


/*list칩n de nuevo para 칰ltimos lanzamientos*/
.ribbon {
    position: absolute;
    top: 27px;
    left: -75px;
    width: 250px;
    text-align: center;
    transform: rotate(-45deg);  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    color: #FFFFFF;
    line-height: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}
/* collabs  */


.contenedor-collabs{
    display: block;
    height: auto;
}
.card-collabs{
    width: 100%;
    background: 
    repeating-linear-gradient(
        190deg,
        rgba(69, 69, 255, 0.5) 40px,
        rgba(113, 113, 255, 0.5) 80px,
        rgba(158, 158, 255, 0.5) 120px,
        rgba(223, 223, 255, 0.5) 160px,
        rgba(0, 255, 153, 0.5) 200px,
        rgba(102, 255, 194, 0.5) 240px,
        rgba(199, 255, 232, 0.5) 280px,
        rgba(69, 69, 255, 0.5) 300px
        ),
        repeating-linear-gradient(
        -190deg,
        rgba(69, 69, 255, 0.5) 30px,
        rgba(113, 113, 255, 0.5) 60px,
        rgba(158, 158, 255, 0.5) 90px,
        rgba(223, 223, 255, 0.5) 120px,
        rgba(0, 255, 153, 0.5) 150px,
        rgba(102, 255, 194, 0.5) 180px,
        rgba(199, 255, 232, 0.5) 210px,
        rgba(69, 69, 255, 0.5) 230px
        ),
        repeating-linear-gradient(
        23deg,
        rgb(69, 69, 255) 50px,
        rgb(113, 113, 255) 100px,
        rgb(158, 158, 255) 150px,
        rgb(223, 223, 255) 200px,
        rgb(0, 255, 153) 250px,
        rgb(102, 255, 194) 300px,
        rgb(199, 255, 232) 350px,
        rgb(69, 69, 255) 370px
    );
    aspect-ratio: 1/0;
    padding: 20px;
    border-radius: 25px;
    display: flex;
}

.card-collabs img{
    width: 30%;
    border-radius: 50% 20% 70% / 10% 40%;
    box-shadow: -10px 15px 0 #D3D3FF;
}

.card-collabs div{
    margin:  1rem;
    padding: 0 30px 10px;
    /* background-color: greenyellow; */
    height: min-content;
}

.card-collabs div img{
    box-shadow: none;
    border-radius: 0;
    width: 9em;
    
}

.card-collabs div hr{
    width: 100%;
    border: 1px solid #134629;
    color: #134629
}

.card-collabs p{
    /* height: fit-content; */
    /* background-color: yellow; */
    font-size: 20px;
    text-shadow: 1px 1px 0px rgba(0, 47, 166, 0.5);
}

.card-collabs p span{
    font-size: 12px;
}
.a-ver_coleccion{
    display: inline-block;
    background-color: #ADEBB3;
    border: 1px solid #134629;
    box-shadow: 5px 5px 0 #134629;
    padding: 10px 20px;
    font-family: "WindSong", cursive;;
    font-size: 30px;
}

.a-ver_coleccion:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* .card-collabs a{
    background-color: pink;
} */
/* fin collabs */

/*Contenedor de estilos de joyer칤a*/
.contenedor-estilos-tendencia{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    
}

.item-estilos-tendencia{
    display: flex;
    width: 30%;
    /* background-color: red; */
    padding: 10px 15px;
    position: relative;
}

.item-estilos-tendencia img{
    width: 90%;
    
}

.title-item-tendencias{
    display: block;
    position: absolute;
    /* background-color: yellow; */
    transform: rotate(-35deg);
    font-size: 3.7rem;
    font-family: "Comforter Brush", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/*fin contenedor de estilos de joyer칤a*/

/*Card de equipo*/

.contenedor-equipo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 10px;
    justify-content: space-around;
}
.card-equipo{
    background-color: #ADEBB3;
    width: 20%;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    align-items: center;
    padding-bottom: 20px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    margin: 5px;
}

.card-equipo-bg{
    width: 100%;
    height: 290px;
    border-radius: 0 0 90% 0;
    align-self: flex-start;
    
}

.card-equipo-foto{
    width: 75%;
    border-radius: 50%;
    /* position: absolute; */
    top: 7em;
    border: 15px solid #ADEBB3;
    z-index: 900;
    margin-top: -10.5em;
    
}

.card-equipo h1, .card-equipo h4, .card-equipo p{
    margin: 0 20px;
}

.card-equipo h1{
    text-align: center;
}

.card-equipo h4{
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
    color: #123716;
}

.card-equipo p{
    text-align: center;
}

.card-equipo hr{
    width: 100%;
    border: 1px solid #c4ffdd;
    color: #c4ffdd;
}

.card-equipo-redes{
    /* background-color: red; */
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color:#4e4ea5
}
/*fin card de equipo*/


/*responsive*/





/*tablet*/

@media ((max-width: 1024px) ) {
    .presentation-1 img{
        width: 50%;
    }
    

    .item-estilos-tendencia{
        padding: 10px 0;
    }

    .item-estilos-tendencia img{
        width: 100%;
    }
    .title-item-tendencias{
        font-size: 3.2rem;
    }

    .card-tipo-produc{
        width: 40%;
        margin: 5px 0;
    }

    .parrafo-title{
        font-size: 16px;
    }

    .card-collabs{
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .card-collabs img{
        
        align-self: center;
        width: 45%;
    }

    .card-collabs div{
        display: flex;
        flex-direction: column;
    }
    .card-collabs div img{
        align-self: center;
    }
    .a-ver_coleccion{
        width: fit-content;
        align-self: center;
        font-size: 25px;
        text-align: center;
    }

    .contenedor-equipo{
        flex-direction: column;
    }
    .card-equipo{
        width: 90%;
        margin: 10px auto;
    }

    .card-equipo-foto{
        width: 40%;
    }

    .card-equipo h1{
        font-size: 28px;
    }

    .card-equipo h4{
        font-size: 12px;
    }

    .card-equipo p{
        font-size: 14px;
    }

    .card-award{
        font-size: 8vw;
    }
}

/*celular*/
@media (max-width: 520px){

    .nav-list li a{
        font-size: 15px;
        padding: 5px 0;
    }
    

    #inicio-logo{
        font-size: 30px;
    }

    #name-banner-principal{
        font-size: 4rem;
    }
    .presentation-1{
        flex-direction: column;
    }

    .presentation-1 img{
        width: 100%;
        margin-left: 0;
    }

    .contenedores-con-productos{
        flex-wrap: wrap;
        overflow-x: none;
        flex-direction: row;
    }
    .card-mas_vendidos, .card-ult_lanza{
        scroll-snap-type: none;
        width: 45%;
        margin: 4px;
        flex: none;
    }

    .card-mas_vendidos:hover, .card-ult_lanza:hover{
        transform: none;
    }

    

    .card-titulo-articulo{
        font-size: 15px;
    }

    .card-precio{
        font-size: 22px;
    }

    .card-puntuacion, .card-est-ventas, .card-similares{
        font-size: 9px;
    }

    .btn-comprar, .btn-anadir-carrito, .btn-lista-deseos{
        font-size: 10px;
    }

    .contenedores-con-productos::scroll-button(right), .contenedores-con-productos::scroll-button(left){
        display: none;
    }

    .item-estilos-tendencia{
        width: 100%;
    }

    .card-tipo-produc{
        width: 100%;
        margin: 10px 0;
    }

    .card-tipo-produc:hover{
        transform: none;
    }

    
    .card-collabs img{
        width: 90%;
    }

    .card-collabs p{
        font-size: 17px;
    }

    .card-collabs div{
        padding: 0 0 10px
    }
    

    .card-award{
        font-size: 9vw;
    }

    .btn-lista-deseos{
        font-size: 30px;
    }
}

@media (max-width: 830px){
    .footer-index ul{
        flex-direction: column;
        text-align: center;
    }

    .footer-index ul li{
        width: 100%;
    }
    .footer-index ul li ul li{
        width: 100%;
    }

    .footer-form{
        width: 100%;
    }

}