body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue; */
}

body{
    background-color: antiquewhite;
    padding: 40px;
}


.galeria{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 160px;
    gap: 20px;

}
.card{
    border-radius: 20px;
    background-size: cover;
    background-position: center;

}

.c1{
    grid-column: 1/ 3;
    grid-row: 1 / 3;
    background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjIQnQXH2biivMqcIKgMsdoKu7WfUtMHy3fEHon1SjpwBx2Y3GxpMv3UW7RiZ9DxocYm90I8GgbGjEKpeVrPU3d-TbZCkUEsJrlOyDDhrIaW5ilB2ZRRlZboZVozrOcbptCKHo3H9jAe9LPv7PRxw1pa0fseoEtOKJpmXZETxg2PkNSDjeDgddLw8Av6i0/s16000-rw/frutiger-aero.webp);
}

.c2{
    grid-column: 3/5;
    grid-row: 1 / 2;
    background-image: url(https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/3797460/8ffe8955881d5b0ba5e0af035a0e3d5d16a69822/ss_8ffe8955881d5b0ba5e0af035a0e3d5d16a69822.1920x1080.jpg?t=1765820388);
}
.c3{
    grid-column: 5 / 7;
    grid-row:  1 / 3;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLvbnU2kWmQYt_Kn8MA3Mag3_cb60XzPqNOA&s);
}
.c4{
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFd7JZeSfZMGReAmL7ddhTn1iHV_G757MUKw&s);
}
.c5{
    grid-column:  4 / 6;
    grid-row: 3 / 5;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0_1I4AYzs-gEAdHR_pwcTIjzolqne9lldwA&s);
}
.c6{
    grid-column: 6 / 7;
    grid-row: 3 / 5;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLBAtHbjmMkw2fXhhCBVet9sJk-zG2qLh_Bg&s);
}
.c7{
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsz4rhbR5kSBJWLhVg7dHG9A8fPlKUjzCRLQ&s);
}

.c8{
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZhOEQClMByBMMeBklOtUe3_LAZB0lvK_ldA&s);
}

.c9{
    grid-column: 1 / 4;
    grid-row: 5 / 9;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlB1KxWqcIvLh3k5auKLVSLORQ3CSCNopvUQ&s);

}

.c10{
    grid-column: 4 / 6;
    grid-row: 5 / 7;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNeocKD2w_nuH2DsC6RsEtdqyrDmNucz_jqg&s);
}
/*desktop first*/

/* @media screen and (max-width: 1024px){
    body{
        background-color: aquamarine;
    }
} */

/*tablet*/

/* @media screen and (max-width: 768px){
    body{
        background-color: pink;
    }
} */

/*celular grande*/

/* @media screen and (max-width: 480px){
    body{
        background-color: yellowgreen;
    }
} */

/*mobile first*/

/* @media screen and (min-width: 480px){
    body{
        background-color: violet;
    }
}

@media screen and (min-width: 768px){
    body{
        background-color: rgb(215, 0, 22);
    }
}

@media screen and (min-width: 1024px){
    body{
        background-color: yellow;
    }
}

@media screen and (min-width: 1200px){
    body{
        background-color: green;
    }
} */