/* 
Selector universal
*{
    padding: 0;
    margin: 0;
}

Selectores de etiqueta
body{
    background-color: aquamarine;
}

header{
    background-color: chartreuse;
    margin: 10px;
}

h2{
    color:blueviolet;
    font-size: 40px;   
    padding: 5px;
}

p{
    background-color: dodgerblue;
    width: 250px;
}

Selector de tipo clase. Empieza con un punto y le sigue el nombre de la clase
.barra{
    background-color: lightblue;
}

Selector de tipo id.
#menu{
    color:gold;
}
 */


.producto-tarjeta{
    width: 280px;
    border-radius: 12px;
    background-color: chartreuse;
    text-align: center;
    display: inline-block;
}

.producto-img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.producto-titulo{
    font-size: 20px;
    font-weight: bold;
}

.producto-desc{
    font-size: 14px;
    color:deeppink
}

.producto-btn{
    background-color:paleturquoise;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.producto-btn:hover{
    background-color:cornflowerblue ;
    transition: 0.5s ;
}